*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(48, 47, 47);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 150px;
}
.menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.item:hover{
    color: blue;
    cursor: pointer;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("asset/background.png"),
    linear-gradient(45deg,rgb(12, 12, 12),rgb(57, 57, 57));
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.discription{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
}
.btn:hover{
    color: yellow;
    cursor: pointer;
    background-color: aquamarine;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.about-title{
    text-align: center;
    padding-top: 20px;
}
.sk{
   margin-bottom: 10px;
    padding-bottom: 10px;
}
.box{
    width: 230px;
    height: 250px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: grey;
    padding: 10px;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url("asset/background.png"),
    linear-gradient(45deg,rgb(12, 12, 12),rgb(57, 57, 57));
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.down-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 50px;
}
.gap{
   
    
}